.head{
  display: flex;
  margin:15px 5px;
}
.counter{
  display: flex;
  margin:15px 5px;
}
.count-style{
  width:40px;
  height:30px;
  vertical-align: middle;
  margin:5px;
  padding: 2px;
  font-size: 16px;
  font-weight: 500;
}
.Reset{
  background-color: #e0be25;
  margin:5px;
  width:30px;
  height:30px;
  border:none !important;
  border-radius:5px;
  font-size: 16px;
}
.Refresh{
  background-color: #f17d10;
  margin:5px;
  width:30px;
  height:30px;
  border:none !important;
  border-radius:5px;
  font-size: 16px;
}
.shopsize{
  font-size: 24px !important;
  vertical-align: middle;
  width:30px;
  height:30px;
  margin:5px 0px;
}
.items-count{
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  color:teal;
  margin:0 0px;
  padding: 3px 0;
  width:30px;
  height:30px;
}
.Inc{
  background-color: rgb(60, 128, 15);
  margin:5px;
  width:30px;
  height:30px;
  border:none !important;
  border-radius:5px;
}
.Dec{
  background-color: red;
  margin:5px;
  width:30px;
  height:30px;
  border:none !important;
  border-radius:5px;
}
.Del{
  background-color: rgb(71, 96, 241);
  margin:5px;
  width:30px;
  height:30px;
  border:none !important;
  border-radius:5px;
  font-size: 16px;
}
.App {
  text-align: center;
}


